/* Inspired by:
 * https://justinjackson.ca/words.html
 * https://www.karl.berlin
 * https://cblgh.org
 **/

html {
    font-family: sans-serif;
    background: #eae7dc;
}

body {
    max-width: 40rem;
    margin: 0 auto 1rem auto;
}

a {
    color: #124554;
}

nav {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 2rem;
    font-family: monospace;
}

nav * {
    display: inline-block;
}

nav a {
    padding: 1rem 0.75rem;
    color: black;
    text-decoration: none;
}

nav li a {
    font-style: italic;
}

nav ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    font-variant: petite-caps;
}

img {
    max-width: 75%;
    display: flex;
    margin: 0 auto;
    border: 1px solid;
}

main {
    line-height: 1.5rem;
    padding: 0.25rem 1.5rem 1rem 1.5rem;
    border-top: 1px solid;
    border-left: 1px solid;
    border-top-left-radius: 2rem;
}

pre {
    background: #d8c3a5;
    tab-size: 4;
    overflow-x: auto;
    padding: 0.3rem 0.6rem;
    border-radius: 1rem 0rem;
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: 0.3rem solid #d8c3a5;
    font-style: italic;
}

footer {
    text-align: center;
    line-height: 0.75em;
    font-size: 0.75em;
    margin-top: 0rem;
    border-top: 1px solid;
    border-right: 1px solid;
    border-radius: 0rem 2rem 0rem 0rem;
}

@media (prefers-color-scheme: dark) {
    html {
        background: #000;
    }
    a {
        color: #d8c3a5;
    }
    html, nav a {
        color: white;
    }
    blockquote {
        border-color: #124554;
    }
    pre {
        background: #124554;
    }
}

@media print {
    body {
        max-width: none;
    }
}
